.test_image_and_result1{
    background-color: grey;
}

.test_image_and_result2{
    background-color: grey;
}

.test_image_and_result3{
    background-color: grey;
}

.test_image_and_result4{
    background-color: grey;
}

.test_image_and_result5{
    background-color: grey;
}
.final_result{
    background-color: pink;
}